/**handles:sow-image-default-d9fa1d607b92**/
.so-widget-sow-image-default-d9fa1d607b92 .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-d9fa1d607b92 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}